{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

<!-- page title -->
<section class="page-title bg-primary position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          {% if is_edit: %}
          <h1 class="text-white font-tertiary">Edit Blog</h1>
          {% else: %}
          <h1 class="text-white font-tertiary">Create a Blog</h1>
          {% endif %}
  
        </div>
      </div>
    </div>
    {% include "base/_background_shapes.html" %}
  <!-- /page title -->

<!-- Edit Blog Form -->
<section class="section">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              {{ ckeditor.load() }}
              {{ ckeditor.config(name='body') }}
              {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
          </div>
</section>
<!-- /Edit Blog Form -->

{% include "footer.html" %}
{% endblock %}