{% extends "base/base.html" %} {% load static %} {% block body %}

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Login</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  {% include "base/_background_shapes.html" %}
  <!-- /page title -->

  <!-- contact -->
  <section
    class="section section-on-footer"
    data-background="images/backgrounds/bg-dots.png"
    style="padding-bottom: 290px"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="bg-white rounded text-center p-5 shadow-down">
            <form method="POST" class="form">
              {% csrf_token %} {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }} {{ field }} {% if field.help_text %}
                <small class="form-text text-muted"
                  >{{ field.help_text }}</small
                >
                {% endif %} {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-success">
                Submit
              </button>
            </form>
            <p>Don't have an account?</p>
            <a href="{% url 'registration' %}">Register</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /contact -->
  {% endblock %}
</section>
